flask==3.0.3
flask-cors==4.0.1
flask-socketio==5.3.6
pandas>=2.2.0
numpy>=1.26.0
scikit-learn>=1.5.0
joblib==1.4.2
psutil==5.9.8

gevent>=23.9.0
gevent-websocket>=0.10.1

# AI Reporting & Mitigation Core
google-generativeai>=0.4.1

# Device Tracking & Geolocation Insights
manuf>=1.1.5
requests>=2.31.0
python-dotenv>=1.0.0
# Custom Network Packet Flow Engine
git+https://github.com/lakshyagupta1335/cicflowmeter-hpe.git@master